
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}


body{
    width: 100%;
}


.container-high{
    display: flex;
    align-items: center;
    margin-top: 44px;
    justify-content: space-around;
    padding-bottom: 50px;

}

.list-header{
    display: flex;
    align-items: center;
}

.itemWrapp{
    margin-right: 50px;
    font-size: 16px;
    color: #161616;
    cursor: pointer;

}

.logo{
    color: #244D4D;
    font-size: 24px;
    font-weight: bold;
    
}

.bi-search{
    color: #244D4D;
    cursor: pointer;
    margin-right: 20px;
}

.container-down{
    display: flex;
    
}



.image-header{
    width: 700px;
}
.block-green{
    width: 620px;
    height: 470px;
    background-color: #154444;
    position: relative;
    left: 150px;
    top: 124px;
    
    

}

.text-header{
    color: #fff;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    margin-top: 74px;

}

.page-header{
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-align: center;

}

.container-main{
    margin-top: 140px;
    
}

.page-company{
    text-align: center;
    color: #244D4D;
    font-size: 32px;
    font-weight: bold;
}

.container-company{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

}

.container-about{
    margin-top: 140px;
    display: flex;
    justify-content: space-around;

}

.text-about{
    font-size: 32px;
    font-weight: bold;
    color: #244D4D;

}

.more-about{
    font-size: 20px;
    font-weight: 400;
    color:#383738 ;
    margin-top: 20px;

}

.container-more-about{
    display: flex;
    align-items: center;
    margin-top: 40px;

}


.block-about{
    margin-left: 20px;

}

.name-about{
    color: #244D4D;
    font-size: 24px;

}

.more-info{
    font-size: 18px;
    color: #383738;
    margin-top: 12px;
}

.container-furniutre{
    margin-top: 140px;
    margin-left: 120px;
    margin-right: 120px;
}

.text-furnuitre{
    color: #244D4D;
    font-size: 32px;
    font-weight: bold;

}


.block-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-furn{
    color: #383738;
    font-size: 20px;
    margin-top: 20px;

}

.left-slide{
    font-size: 28px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ECF4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:#666666;

}


.blockslide{
    display: flex;
}

.right-slide{
    font-size: 28px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ECF4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    color:#666666;
    
}

.button-more{
    color: #FF5F00;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.block-product{
    width: 380px;
    box-shadow: 4px 4px 8px 10px rgba(34, 60, 80, 0.1);    margin-right: 30px;
}

.block-icons{
    display: flex;
    margin-left: 101px;
}

.like{
    margin-right: 8px;
}

.info-product{
    display: flex;
    
    margin-top: 31px;
    margin-left: 25px;

}

.name-product{
    color: #244D4D;
    font-size: 20px;
    font-weight: normal;
}


.like{
    width: 26px;
    height: 26px;
    background-color: #ECF4FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;

}



.bi-heart{
    width: 10px;
    height: 10px;
    color: black;
    

}



.like:hover{
    background-color: #FF5F00;
    color: #fff;
}


.share:hover{
    background-color: #FF5F00;
    color: #fff;
}


.share{
    width: 26px;
    height: 26px;
    background-color: #ECF4FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
    
}


.price-info{
    display: flex;
    margin-top: 21px;
    margin-left: 25px;
    margin-bottom: 29px;

}

.price{
    font-size: 24px;
    color: #154444;
    font-weight: normal;

}


.button-pay{
    width: 78px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    background-color: #154444;
    border-radius: 10px;
    margin-left: 207px;

}

.container-product{
    display: flex;
    justify-content: center;
    
}

.section{
    display: flex;
    
}

.container-input1{
    display: flex;
    justify-content: center;
    margin-bottom: 140px;

}   

.container-input{

    width: 1200px;
    padding-bottom: 53px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #154444;
    
    
}

.text-input{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;

}

.text-input2{
    color: #ffffffc9;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;

}


.input-email{
    width: 471px;
    height: 67px;
    position: relative;
    border-radius: 10px;
    padding-left: 20px;
    
    border: none;
    margin-bottom: 50px;
}


.button-register{
    width: 125px;
    height: 52px;
    background-color: #FFB624;
    
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
}


.container-forms{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.button-form{
    position: absolute;
    left: 327px;
    top:7px;
}

.container-all-furn{
    margin-top: 137px;
}



.bold-furn{
    text-align: center;
    font-size: 32px;
    color: #244D4D;
    font-weight: bold;

}

.container-rooms{
    display: flex;
    justify-content: center;

}

.name-first{
    color: #244D4D;
    font-size: 24px;
    font-weight: 500;
    margin-right: 101px;
    margin-top: 30px;
    cursor: pointer;
   
    
}

.name-room{
    font-size: 24px;
    color: #919090;
    font-weight: 500;
    margin-right: 101px;
    margin-top: 30px;
    cursor: pointer;

}

.container-room{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

}


.green-block{
    width: 552px;
    height: 390px;
    background-color: #154444;
    position: relative;
}

.image-room{
    position: absolute;
    left: 33px;
    top: 18px;

}


.container-select-room{
    display: flex;

}

.img-room{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.select-room{
    width: 222px;
    height: 100px;
    border:2px solid #D9DCE5 ;
    margin-right: 30px;
    cursor: pointer;
    margin-top: 34px;
    
}


.ofice{
    width: 222px;
    height: 100px;
    background-color: #244D4D;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
}

.name-room-select{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #808080;
    margin-top: 14px;

}


.container-custom{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
    margin-bottom: 140px;

}


.circle{
    width: 492px;
    height: 492px;
    border-radius: 50%;
    background-color: #244D4D;

    position: relative;
}

.image-custom{
    position: absolute;
    left: 131px;
    
}


.bold-custom{
    font-size: 32px;
    color: #244D4D;
    font-weight: bold;

}

.description-custom{
    color: #383738;
    font-weight: 600;
    margin-top: 30px;
    font-size: 20px;
}


.block-user{
    display: flex;
    margin-top: 30px;
    

}

.username{
    font-weight: normal;
    font-size: 16px;
}

.balls{
    font-size: 14px;
    font-weight: normal;

}




.bi-star-fill{
    color: #FFB624;
    margin-top: 6px;
    
}
.info-user{
    margin-left: 10px;

}


.container-footer{
    background-color:#305F64 ;
}


.container-blocks{
    display: flex;
    justify-content: space-around;
    padding-top:  80px;
    margin-left: 89px;

}



.logo-footer{
    font-size: 24px;
    font-weight: bold;
    color: #fff;

}

.description-footer{
    font-size: 16px;
    margin-top: 30px;
    font-weight: 600;
    color: #ffffff86;
    
}


.software-icon{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 40px;
}




.icons-block{
    margin-top: 21px;

}
.bi{
    margin-right: 15px;
    
}

.block-circle{
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: #fff;
    
    
    
}


.first{
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}


.itemfooter{
    color: #ffffff86;
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.itemfooter2{
    color: #ffffff86;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.input-footer{
    position: relative;

}


.inputfooter{
    width: 253px;
    height: 48px;
    border-radius: 15px;
    border: none;
    padding-left: 22px;
    margin-top: 40px;

}



.button-footer{
    width: 28px;
    height: 28px;
    background-color: #FFB624;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left:233px ;
}

.email-btn{
    width: 16px;
    height: 16px;
    color: #fff;
    cursor: pointer;
}


.line-footer{
    width: 100%;
    height: 2px;
    background-color: #506E71;
    margin-top:  60px;

}

.text-footer{
    text-align: center;
    font-size: 18px;
    color: #ffffffad;
    padding: 20px 20px;
}

@media (max-width:1245px) {
    .container-down{
        flex-direction: column;
        justify-content: center;
        
    }
    .container-company{
        flex-wrap: wrap;
    }

    .container-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .left-block-about{
        margin-bottom: 20px;
    }

    .section{
        flex-direction: column;
        
    }

    .blockslide{
        display: none;
    }

    .block-product{
        margin-bottom: 30px;
    }

    .container-room{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .container-custom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-custom{
        margin-bottom: 50px;
    }
    
    .container-input{
        width: 900px;
    }
    
}


@media (max-width:768px) {
    .img-about{
    width: 350px;
    }

     .name-room{
        text-align: center;
        font-size: 20px;
    }

    .name-first{
        text-align: center;
        font-size: 20px;
    }

    .green-block{
        width: 350px;
    }

    .image-room{
        width: 350px;
       top: 50px;
       
       
    }

    .list-header{
        display: none;
    }

    .block-green{
        width: 350px;
        height: 300px;
        left: 20px;
        
    }


    .image-header{
        width: 420px;
    }

    .text-header{
        font-size: 26px;
    }

    .select-room{
        width: 180px;
    }

    .circle{
        width: 420px;
        height: 420px;
    }

    .img-custom{
        width: 360px;
        
    }

    .image-custom{
        left: 40px;
    }

    .container-input{
        width: 800px;
    }

    .text-input{
        font-size: 24px;    
    }
    .input-email{
        width: 371px;
    }

    .button-form{
        left: 250px;
    }

    .container-forms{
        justify-content: center;
    }
    

    .container-blocks{
        flex-direction: column;
    }
}   
